/* Page + full-screen map - Make the page tall enough for a full-screen map*/
html, body {
  height: 100%;
}
/* Basic styling for the whole page */
body {
  margin: 0;
  background-color: whitesmoke;
  font-family: "Lato", Noto Sans;
  color: #3d3d3d;
}
/* Make the map fill the entire browser window */
#map {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0 */
}
/*Style the title panel (overlay box)*/
#title {
  position: fixed;
  top: 10px;
  left: 150px;
  font-size: 2em;
  font-family: "Lora", serif;
  letter-spacing: .04em;
  margin: 0;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.65);
  border: 1px solid #777;
  border-radius: 6px;
  z-index: 800;
}
/*Style the description panel (overlay box)*/
#description {
  position: fixed;
  left: 10px;
  bottom: 120px;
  top: 200px;
  width: 200px;
  max-width: calc(100vw - 20px);
  padding: 0 15px;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #777;
  border-radius: 6px;
  z-index: 800;
}
/*Make paragraph text inside the description readable */
#description p {
  font-size: 1.50rem;
  line-height: 1.5;
}
/*Style links inside the description (and hover effect)*/
#description a {
  color: #005daa;
  text-decoration: none;
}
/*description to resize the trappers turn image*/
#description img {
    width: 100%;
    height: 18%;
}
footer {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  background: rgba(255, 255, 255, 0.75);
  text-align: center;
  padding: 15px;
  z-index: 900;
}

#description a:hover {
  text-decoration: underline;
}
